body {
  background-color: #fd1254;
}

.card {
  margin: 10px auto;
  height: 150px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.btn {
  background-color: #3445db;
  border: none;
}

svg {
  margin: -2px 5px 0 0;
}
