body {
  background-color: #453e4a;
}

.navbar-brand {
  color: white;
  font-size: 30px;
}

.card {
  margin: 10px auto;
  height: 150px;
  cursor: pointer;
  color: black;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  text-decoration: none;
  color: black;
}

#uploadBtn {
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  background: #8657DB;
  text-align: center;
  border-radius: 100%;
  border-color: transparent;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
  text-decoration: none;
}

#uploadBtn:focus {
  box-shadow: none;
}

#uploadBtn:hover {
  background-color: #ae44c8;
  transform: scale(1.03);
  transition-delay: 0.05s;
  transition-duration: 0.05s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

#uploadBtn:hover p {
  transform: scale(1.08);
  transition-duration: 0.05s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.card-header {
  background-color: #8657DB;
  color: white;
}

svg {
  margin: -2px 5px 0 0;
}